
/*  ------------------ 
        FONTS
 ------------------  */

@font-face {
    font-family: 'segoe-print';
    src: url('../fonts/segoepr.woff2') format('woff2'),
         url('../fonts/segoepr.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


 .cantfindgeorge {
    font-family: 'segoe-print';
    color: #40337B;
}

/*  ------------------ 

Link to use in projects: https://gitcdn.link/cdn/FamiliesAndDragons/FamiliesAndDragons.github.io/main/CSS/homebrewery.css

CDN by https://gitcdn.link/#dev

 ------------------  */







/*  ------------------ 
        CSS
 ------------------  */


 

.background {
    position:absolute;
}

