/*  ------------------ 

Link to use in projects: https://gitcdn.link/cdn/FamiliesAndDragons/FamiliesAndDragons.github.io/main/CSS/homebrewery.css
 

CDN by https://gitcdn.link/#dev

 ------------------  */





.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 0px;
  width: 100%;
}


.link {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

















/* FONT IMPORTS ____________________________________________________ */
/* _________________________________________________________________ */

@import url("https://rawcdn.githack.com/Kaiburr-kath-hound/HomebreweryStyles/7758abe0bc0c2ed4ee70f90cf1c28840f2c96aab/PHBFonts.css");

@font-face {
	font-family: 'MrEavesRemake';
	font-weight: 400;
	src: url('../fonts/5e/Mr Eaves Small Caps.woff2');
	unicode-range: U+0030-0039;
	size-adjust: 125%;
}

/* DISABLES THE FOOTER ON THE FIRST FEW PAGES ______________________

If you want the footer to reappear, just deleate the line that include that page. */
.page#p1:after, 
.page#p2:after {
	all	: unset;
}

/* DISABLES THE FOOTER ON THE LAST PAGE ____________________________ */
.page:last-child:after {
	all:unset;
}




/* YELLOW/DEFAULT THEME (Intro/Appendices) 

This is the default theme/color scheme. The theme changes the appearance of the footer image and chapter header within a certain page range, and this yellow theme is just the default appearance. To change the appearance of the document, see the instructions below. */

/* YELLOW DROP CAP */
.page h1+p::first-letter {
	background-image		: linear-gradient(-65deg, #624e2d, #725f31, #d0bc85, #725f31, #624e2d);
}

/* YELLOW NOTES & TABLES */
.page table tr:nth-child(odd) td, .page .note {
	background-color	: #e4d6af;
}


/* YELLOW WATERCOLOR STAIN */
.page [class*="watercolor"] {
	background-color	: #cfbc81 !important;
}

/* YELLOW FOOTER */
.page:after {
	height           		: 67px;
	background-image		: url(https://i.imgur.com/vMFhnx3.png);
}

/* GREEN THEME (Chapter 1/The most well-known) 

This (kind of long) string of code sets the page range for this theme (in this case, the green images and colors will appear starting at page 5 and end on page 7). 

To change the page range, just replace the 5 and 7 with wherever your chapter or section starts and ends, respectively. If instead you want the WHOLE document to have a single theme, then you can delete this section ":nth-of-type(n+ 5):nth-of-type(-n+ 7)", leaving only the ".page _______" code. Then, delete all the code under the other sections that say ____ THEME.

Lastly, whenever you change the page range for a theme, you must do so on EACH line of code in the section (so you must do so 5 times for each theme section). */
.page:nth-of-type(n+ 5):nth-of-type(-n+ 7) h1+p::first-letter {
	background-image: linear-gradient(-65deg, #4a5436, #55603e, #a5b270, #55603e, #4a5436);
}
.page:nth-of-type(n+ 5):nth-of-type(-n+ 7) .note,
.page:nth-of-type(n+ 5):nth-of-type(-n+ 7) table tr:nth-child(odd) td {
	background-color	: #d6e5b8;
}
.page:nth-of-type(n+ 5):nth-of-type(-n+ 7) [class*="watercolor"] {
	background-color	: #697b37 !important;
}
.page:nth-of-type(n+ 5):nth-of-type(-n+ 7):after {
	background-image	: url(https://i.imgur.com/eYgN4l2.png);
}

/* TEAL THEME (Chapter 2) */
.page:nth-of-type(n+ 8):nth-of-type(-n+ 9) h1+p::first-letter {
	background-image	: linear-gradient(-65deg, #37584d, #47665c, #93b8ab, #47665c, #37584d);
}
.page:nth-of-type(n+ 8):nth-of-type(-n+ 9) .note,
.page:nth-of-type(n+ 8):nth-of-type(-n+ 9) table tr:nth-child(odd) td {
	background-color	: #d0e7d9;
}
.page:nth-of-type(n+ 8):nth-of-type(-n+ 9) [class*="watercolor"] {
	background-color	: #318c78 !important;
}
.page:nth-of-type(n+ 8):nth-of-type(-n+ 9):after {
	background-image	: url(https://i.imgur.com/vXXoGxK.png);
}

/* PURPLE THEME (Chapter 3) */
.page:nth-of-type(n+ 10):nth-of-type(-n+ 11) h1+p::first-letter {
	background-image: linear-gradient(-65deg, #5d2966, #5d2966, #be89b7, #5d2966, #5d2966);
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 11) .note,
.page:nth-of-type(n+ 10):nth-of-type(-n+ 11) table tr:nth-child(odd) td {
	background-color	: #e6dbe6;
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 11) [class*="watercolor"] {
	background-color	: #b266b7 !important;
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 11):after {
	background-image	: url(https://i.imgur.com/xAb2UjA.png);
}



/* GENERAL CODE ____________________________________________________ */

/* PAGE MARGIN */
.page {
	padding-bottom	: 81px;
}

/* HEADERS */
.page h1,h2,h3,h4 {
	letter-spacing: 1px;
}

.page h3 { 
	margin-bottom : 0.3em; 
}

.page h4 { 
	margin-bottom : 0.2em; 
}

.page h5 {
	text-shadow	: #000 0px 0px 0.1px;
}


/* DROP CAP */
.page h1+p::first-letter {
	background-position	: 10px;
	text-transform			: uppercase;
}

/* SMALL CAPS */
.page caps {
	font-variant	: small-caps;
}
.page .backcover caps {
	font-size			: 120%;
}

/* FOOTNOTE */
.page .footnote{
	bottom					: 44px;
	color						: #af9060;
	text-transform	: uppercase;
}

/* PAGE NUMBER */
.page .pageNumber{
	bottom			: 28px;
	color				: #af9060;
	font-size		: 13px;
}

/* MONSTER STATBLOCK */
.page .monster table tr:nth-child(odd) td {
	background-color	: transparent !important;
}


/* Adjusts the various spacings of Numbered and Bulleted Lists */
.page .note { 
	margin-top : 5mm; 
}

.page .note + .note { 
	margin-top : 2.5em; 
}

.page .note ol > li {
	padding: 0 0 0 0.4em;
	text-indent: -1.5em;
	list-style-type: none;
	counter-increment: item;
}

.page .note ul {
	margin-top: 0.6em;
}

.page ol {
	margin: 0.4em 0 0.5em;
	padding: 0;
}

.page ol > li {
	padding: 0 0 0 1.3em;
	text-indent: -1.5em;
	list-style-type: none;
	counter-increment: item;
}

.page ol > li:before {
	display: inline-block;
	width: 1em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: right;
	content: counter(item) ".";
}


/* ARTIST CREDITS */
.page .artist {
	font-size				: 13px;
	color						: #af9060;
}

/* HYPERLINKS */
.page a {
	color						: inherit;
	text-decoration	: none;
}
.page a:hover{
	text-decoration	: underline;
}

/* QUOTE */
.page .quote {
	font-family 		: Cormorant;
	font-size				: 15.2px;
	margin-top			: 6px;
	padding-bottom	: 4px;
}

.page .quote::first-line {
	font-variant 		: small-caps;
	font-family 		: BookInsanityRemake;
	font-size				: 14.5px;
	line-height			: 15px;
	font-weight			: 100;
}

.page .quote p:not(p:last-child) {
	line-height			: 20px;
	font-weight			: 800;
}

.page .quote.author p:last-child {
	font-family 		: BookInsanityRemake;
	font-size				: 0.34cm;
	margin-top			: 4px;
	text-align			: right;
}

.page .quote p:last-child em {
	font-family 		: Cormorant;
	font-size				: 15.2px;
	font-weight			: 800;
}


/* DECALS__________________________________________________________ */

/* ARCH */
.page .arch {
	background-image			: url(https://i.imgur.com/7vdgqo0.png); 
	background-blend-mode	: multiply;
	background-repeat			: no-repeat;
	position							: absolute;
	background-size				: 100%;
	height								: 100%;
	top										: 0px;
	left									: 0px;
	z-index								: -1;
}

/* DECAL */
.page .decal {
	background-image			: url(https://i.imgur.com/jTfNJHB.png); 
	background-repeat			: no-repeat;
	position							: absolute;
	bottom								: -789px;
	background-size				: 100%;
	height								: 100%;
	left									: 0px;
	z-index								: -1;
}
.page:nth-child(even) .decal{
	background-image			: url(https://i.imgur.com/Hb5nu51.png);
}

/* FULL PAGE IMAGE */
.page .fullpage::before {
	content							: '';
	position						: absolute;
	top									: 0px;
	left								: 0px;
	width								: 100%;
	height							: 100%;
	background-image		: url(https://i.imgur.com/LoH0q5w.png);
	background-size			: 100% 100%;
	background-repeat		: no-repeat;
	opacity							: 85%;
	z-index							: 600;
}
.page:nth-child(odd) .fullpage::before{
	transform : scaleX(-1);
}
.page .fullpage img {
	position		: absolute; 
	top					: 0px; 
	left				: 0px; 
	height			: 100%;
	min-width		: 100%;
	z-index			: 500;
}

/* HOMEBREWERY LOGO */
.page .logo{
	content						: '';
	position					: absolute;
	left							: 34.5%;
	bottom						: 0px;
	min-height				: 200px;
	background-image	: url(https://i.imgur.com/r7nvH4z.png);
	background-size		: 135px;
	background-repeat	: no-repeat;
	filter						: invert(100%);
	z-index						: 200;
}
.page .logo.words:before {
	content						: 'Made with The Homebrewery';
	position					: absolute;
	bottom						: 210px;
	left							: -14px;
	font-family				: 'Nodesto';
	font-size					: 150%;
	-webkit-transform	: scale(1.6, 1.0);
	z-index						: 200;
}


/* FRONT COVER _____________________________________________________ */
.page .hardcover{
	position		: absolute;
	top					: 0;
	left				: 0;
	height			: 100%;
	padding			: 90px 0px;
	text-align	: center; 
	user-select	: none;
}

.page .hardcover img {
	position		: absolute;
	top					: 0px; 
	right				: 0px;
	height			: 100%;
	min-width		: 100%;
}

.page .hardcover::before {
	content							: '';
	position						: absolute;
	display							: block;
	top									: 20px;
	height							: 70px;
	width								: 100%;
	background-image		: url(https://i.imgur.com/kKd8mdW.png);
	background-position	: center;
	background-size			: 140px;
	background-repeat		: no-repeat;
}

.page .hardcover h1 {
	--shadow-x0					: #000 0px 0px 3.5px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	--shadow-x3					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	text-shadow					: var(--shadow-x3), var(--shadow-x3), var(--shadow-x3);
	font-family					: Nodesto;
	font-weight					: normal;
	font-size						: 6.6em;
	color								: white;
	line-height					: 72px;
	transform						: scaleX(0.94);
	text-transform			: uppercase;
	margin-top					: 3px;
}

.page small {
	position						: relative;
	text-transform			: lowercase;
	bottom							: 10px;
	font-size						: 90%;
}

.page .hardcover hr {
	visibility					: visible;
	position						: relative;
	top									: -16px;
	height							: 64px;
	width								: 450px;
	margin							: 2px auto -24px;
	background-image		: url(https://i.imgur.com/U4Cveto.png);
	background-size			: 100% 100%;
	border							: none;
}

.page .hardcover h2 {
	--shadow-x0					: #000 0px 0px 2.5px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	--shadow-x3					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	text-shadow					: var(--shadow-x3), var(--shadow-x3), var(--shadow-x3);
	font-family					: Nodesto;
	font-weight					: normal;
	font-size						: 2.5em;
	letter-spacing			: 0.5px;
	color								: white;
}

.page .hardcover .footnote {
	-webkit-text-stroke	: 0.2px black;
	--shadow-x0					: #000 0px 0px 1.8px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	text-shadow					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	position						: absolute;
	bottom							: 3.5em;
	left								: 0px;
	width								: 100%;
	font-family					: VeraCruz;
	letter-spacing			: 0.6px;
	text-transform			: none;
	text-align					: center;
	transform						: scaleX(90%);
}

.page .hardcover p {
	color								: white;
	font-size						: 20px !important;
}

.page .hardcover::after {
	content							: '';
	position						: absolute;
	display							: block;
	bottom							: 157px;
	height							: 67px;
	width								: 100%;
	background-image		: url(https://i.imgur.com/KiAk59C.png);
	background-position	: left;
	background-size			: 400px;
	background-repeat		: no-repeat;
	filter							: drop-shadow(2px 1px 1px #000);
}



/* INSIDE COVER ____________________________________________________ */
.page .insidecover {
	display					: block;
	padding					: 40px;
	column-span			: all;
}

.page .insidecover h1 {
	font-family			: Nodesto;	
	font-weight			: normal;	
	font-size				: 6.3em; 
	text-align			: center;
	text-transform	: uppercase;
	letter-spacing	: -1.5px;
	width						: 800px;
	display					: block;
	margin					: -16px auto auto -105px;
	line-height			: 68px;
}

.page .insidecover hr {
	visibility				: visible;
	position					: relative;
	height						: 60px;
	width							: 450px;
	margin						: 5px auto -5px;
	background-image	: url(https://i.imgur.com/xQs7dC7.png);
	background-size		: 100% 100%;
	border						: none;
}

.page .insidecover h2 {
	font-family			: Nodesto;
	font-weight			: normal;
	font-size				: 3em;
	letter-spacing	: 0.5px;
	text-align			: center;
	margin-bottom		: -10px;
}

.page .insidecover img {
	position							: absolute;
	left									: 0px;
	max-width							: 130%;
	min-width							: 100%;
	-webkit-mask-image	  : url(https://i.imgur.com/0Td13Qp.png);
	-webkit-mask-position	: -100px 0px;
	-webkit-mask-size			: 1200px 700px;
	-webkit-mask-repeat	  : no-repeat;
}

.page .insidecover .logo{
	position					: absolute;
	bottom						: -95px;
	left							: 45%;
	background-image	: url(https://i.imgur.com/cYz20b0.png);
	background-size		: 10%;
	filter						: invert(0%);
}


/* CREDITS PAGE CODE________________________________________________ */

.page .credits h1+p::first-letter, 
.page .credits h1+p::first-line {
	all	: unset;
}

.page .credits h1 {
	font-size	: 40px;
}

.page .credits h2, 
.page .credits h5 {
	margin-bottom	:14px;
}

.page .credits p {
	font-family	: Martel_SansRegular;
	font-style	: normal;
	font-size		: 0.83em;
	line-height	: 1.5em;

	/* Creates a hanging indent by default */
	text-indent	: -1em; 
	margin-left	: 1em;
}

.page .credits strong {
	font-family	: Martel_SansExtraBold;
}

.page .credits a {
	color				: #9b8159;
}

		.page .credits .frontcredit h5 {
			margin-bottom		: -2px ;
			text-shadow			: #000 0px 0px 0.1px;
			text-transform	: uppercase;
		}

		.page .credits .frontcredit p {
			text-indent	: 0em; 
			margin-left	: 0em;
		}

		.page .credits .frontcredit a {
			color				: inherit;	
		}

		.page .frontcredit {
			position						: relative;
			right								: 10px;
			width               : 340px;
			height              : 240px;
			margin-top					: 15px;
			margin-bottom				: 100px;
			border-image-source : url(https://i.imgur.com/SbHwJ7t.png);
			border-image-slice  : calc(50 / 150 * 110%) calc(80 / 230 * 100%) fill;
			border-image-width  : 50px;
			border-image-outset : 3px 4px;
		}

		.page .frontcredit img {
			position							: relative;
			display								: block;
			top										: 1px;
			right									: 0px;
			min-width							: 100%;
			height								: 238px;
			-webkit-mask-image		: url(https://i.imgur.com/2N37Q4V.png);
			-webkit-mask-position	: middle;
			-webkit-mask-size			: 340px 240px;
			-webkit-mask-repeat		: no-repeat;
		}

.page .credits .footnote {
	bottom					: 20px;
	left						: 0px;
	width						: 100%;
	font-size				: 1em;
	text-transform	: none;
	text-align			: left;
	color						: black;
}

.page .credits .footnote p {
	padding			: 4.5em;
	text-indent	: 0px;
}



/* PART COVER PAGE CODE_____________________________________________ */
.page .partcover {
	column-span	: all;
	display			: block;
	margin-top	: -40px;
}

/* SETS THE HEADER IMAGE */
.page .partcover::before {
	content							: '';
	position						: absolute;
	top									: 0px;
	left								: 0px;
	height							: 224px;
	width								: 100%;
	background-image		: url(https://i.imgur.com/KxgJ0NU.png);
	background-size			: 100%;
	background-position	: center;
	background-repeat		: no-repeat;
	text-align					: center;
	z-index							: 300;
}

/* FORMATS A GIVEN BACKGROUND IMAGE */
.page .partcover img {
	position							: absolute;
	top										: -1px;
	right									: 0px;
	height								: 100%;
	min-width							: 100%;
}

/* MASKS THE BACKGROUND IMAGE */
.page .partcover .background {
	position							: absolute;
	top										: 0px;
	left									: 0px;
	height								: 100%;
	min-width							: 100%;
	-webkit-mask-image	  : url(https://i.imgur.com/VF8PQy7.png);
	-webkit-mask-repeat	  : no-repeat;
	-webkit-mask-size		  : 816px;
	-webkit-mask-position : top;
	user-select						: none;
	z-index								: 200;
}

/* PART TITLES (e.g.: "PART 1") */
.page .partcover h1 {
	margin-bottom		: -5px;
	font-family			: "Nodesto";	
	font-weight			: normal;	
	font-size				: 7.3em;
	letter-spacing	: -3px;
	text-align			: center;
	text-transform	: uppercase;
}

/* PART SUBTITLES (e.g.: "CREATING A CHARACTER") */
.page .partcover h2 {
	font-family			: "martel_sansblack";
	font-weight			: normal;	
	font-size				: 1.2em;
	letter-spacing	: 0px;
	text-align			: center;
}


/* BACK COVER CODE________________________________________________ */

.page:last-child:after{ 
	all:unset;
}

.page .backcover {
	position						: absolute;
	top									: 0px;
	left								: -20px;
	height							: 100%;
	width								: 450px;
	background-image		: url(https://i.imgur.com/zi4SkEt.png);
	background-position	: bottom center;
	background-size			: cover;
	background-repeat		: no-repeat;
}

.page .backcover h1+p::first-letter, 
.page .backcover h1+p::first-line {
	all:unset;
}

.page .backcover h1 {
	text-align			: center;
	min-width				: 500px;
	margin-bottom		: 15px;
	padding					: 80px 80px 0px 20px;
	font-family			: "Nodesto";
	font-size				: 480%;
	font-weight			: normal;
	letter-spacing	: -1px;
	line-height			: 0.9em;
	transform				: scaleX(1);
	color						: #ED1C24;
}

/* Configures how normal text will be */
.page .block.backcover p {  
	padding				: 0px 80px 0px 60px;
	font-family		: "martel_sanssemibold";
	font-weight		: normal;
	font-size			: 12.6px;
	line-height		: 1.8em;
	text-indent		: 0em;
	color					: white;
}

.page .backcover hr {
	visibility				: visible;
	position					: relative;
	top								: 35px;
	height						: 52px;
	width							: 230px;
	margin						: auto;
	background-image 	: url(https://i.imgur.com/U4Cveto.png);
	background-size		: 100% 50%;
	background-repeat	: no-repeat;
	border						: none;
}

.page .backcover p:last-child {
	font-family	: "martel_sansextrabold";
	text-align	: center;
	font-size		: 11px;
	margin-top	: 30px;
}

.page .backcover img {
	position	 : absolute;
	top				 : 0px;
	right			 : -1202px;
	min-height : 100%;
}
