

/*  ------------------ 
     GENRAL CSS
------------------  */

 body {
	background-image: url('https://wallpaperaccess.com/full/2796640.jpg');
  /* background-image: url(../images/backgrounds/parchment-body.jpg); */
  background-attachment: fixed;
}

h1,
h2 {
	font-weight: bold;
  font-family: myFirstFont;
}

p {
	font-size: 16px;
  font-family: '',sans-serif;
}


/*  ------------------ 
     CUSTOM CSS
 ------------------  */




.activepage {
  background: #686868;
}

span.coming_soon {
  font-size: smaller;
  font-style: italic;
}

.underline {
  text-decoration: underline;  
}

.header_box {
  margin:auto; 
  width:75%;
  text-align:center;
  padding-bottom: 10px;
}


span.coming_soon {
  font-size: smaller;
  font-style: italic;
}

.jumbotron_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-position: center;
  background-image: url(https://wallpaperaccess.com//full/4114302.jpg);
}

.jumbotron_background2 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-position: center;
  background-image: url(https://wallpaperaccess.com/full/4114298.png);
}

div.transparentbox {
  background-color: rgb(0,0,0,0.8);
  width:70%; 
  margin:auto; 
  padding-top: 15px; 
  padding-bottom: 15px;
  border-radius: 35px;
}

.transparentbox2 {
  background-color: rgb(0,0,0,0.1);
  width:90%;
  margin:auto; 
  padding-top: 15px; 
  padding-bottom: 15px;
  border-radius: 35px;
}

.transparentbox3 {
  background-color: rgb(0,0,0,0.1);
  width:100%;
  padding-top: 15px; 
  padding-bottom: 15px;
  border-radius: 35px;
}
  
.underline {
  text-decoration: underline;  
}
  
.header_box {
  margin:auto; 
  width:75%;
  text-align:center;
  padding-bottom: 10px;
}
  



/*  ------------------ 
  CUSTOM BACKGROUNDS
------------------  */

.about_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(#);
}

.characterdb-background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/character-db-hero-background.jpg);
}

.credits_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/credits-hero-background.jpg);
}

.home_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/home-hero-background.jpg);
}

.languages_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/languages-hero-background.jpg);
}

.time_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/timeline-hero-background.jpg);
}

.pantheons_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/pantheons-hero-background.jpg);
}

.campaign_OS_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/obsidian-spires-hero-background.jpg);
}

.campaign_GW_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/godless-wars-hero-background.jpg);
}

.campaign_AGW_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/after-the-great-war-hero-background.jpg);
}

.campaign_UtT_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background: url(../images/backgrounds/under-the-tavern-hero-background.jpg);
}







/*  ------------------ 
 NAVIGATION BAR & HEADER
------------------  */

h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
/* 	color: #cdcdcd; */
}

.navbar {
	margin-bottom: 0;
}

.jumbotron {
  width: 100%;
	color: white;
	text-align: center;
}

.jumbotron_background1 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-position: center;
  background-image: url(https://wallpaperaccess.com//full/4114302.jpg);
}

.jumbotron_background2 {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-position: center;
  background-image: url(https://wallpaperaccess.com/full/4114298.png);
}

.jumbotron p {
	color: white;
	font-size: 26px;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}

.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
	background: #919191;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #919191;
}

.dropdown-menu li a {
	padding: 10px;
}

.btn-primary {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border-color: white;
	margin-bottom: 5px;
}

.btn-primary:hover {
	color: white;
	background-color: #2E2F31;
	border-color: white;
}


/* ------------------ */
/* VERICAL TIMELINE   */
/* ------------------ */

.page-header {
  background-color: #eeeeee;
  margin: auto;
  padding: 15px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel-vertical {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel-vertical-vertical:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel-vertical-vertical:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel-vertical {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel-vertical:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel-vertical:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}



/* ------------------ */
/*   Badge Colors  */
/* ------------------ */
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.darkgreen {
  background-color: #457c3e !important;
}

.timeline-badge.green {
  background-color: #72eb86 !important;
}

.timeline-badge.golden {
  background-color: #f0ad4e !important;
}

.timeline-badge.red {
  background-color: #d9534f !important;
}

.timeline-badge.lightblue {
  background-color: #5bc0de !important;
}

.timeline-badge.black {
  background-color: #292929 !important;
}

.timeline-badge.pink {
  background-color: #d94f84 !important;
}

.timeline-badge.white {
  background-color: #eeeeee !important;
}

.timeline-badge.purple {
  background-color: #ce72ea !important;
}
