/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

div nav ul {
  font-size:22px;
  font-family: 'Bree Serif', sans-serif;
  color: #f7f7f7;
}

div nav ul li a {
    color: #f7f7f7;
  }

div nav a {
    color: #f7f7f7;
}

div nav ul li ul li a {
    color: #f7f7f7;
}

div nav ul li ul li ul li a{
    color: #f7f7f7;
}
nav {
	background-color: #2E2F31;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #2E2F31;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#f7f7f7;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #919191; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }