


##########################################
#  Ignore the ______ Folder and content  #
##########################################

/images/licenses/**
/images/originals/**
/images/unused/**
/images/playlists/originals/**
/images/backgrounds/originals/**

#######################
# Ignore target files #
#######################

old_index.html
**.psd
/images/homebrews/haverfoot-clan/HTML Stars.md


#####################
#     EXCEPTIONS    #
#####################

