


##########################################
#  Ignore the ______ Folder and content  #
##########################################


/images/originals/**
/images/unused/**
/images/playlists/originals/**
/images/social-icons/**
old/**

#######################
# Ignore target files #
#######################

**.psd
**.ai

#####################
#     EXCEPTIONS    #
#####################

